
<h1>Information about rabbit "<%=ra.name%>"</h1>
<p>-Their favorite food is "<%=ra.favorite_food%>"</p>
<p>-Their ID number is "<%=ra._id%>"</p>
<p>-Created at "<%=ra.createdAt%>"</p>
<p>-Updated at "<%=ra.updatedAt%>"</p>
<a href="/rabbit/edit/<%=ra._id%>">Edit this Rabbit?</a>
<br>
<a href="/">Go Home</a>